<link rel="stylesheet" href="~/css/Index.css" />

<div class="login-box"  id="caja2">
  <h2>Bienvenido</h2>
  <table class="table table-dark table-hover">
    <tr>
        <td>Hora Ingreso</td>
        <td>Hora Salida</td>
    </tr>
@foreach(var registro in Model)
    {
        <tr>
            <td>@registro.hora_ingreso</td>
            <td>@registro.hora_salida</td>
        </tr>
    }

  </table>
</div>
   