<link rel="stylesheet" href="~/css/Index.css" />

@if (TempData["usuari"] != null)
      {
      <h2 id="textoh">Historico de @TempData["usuari"]</h2>
      }



<div class="login-box"  id="cajaUsers">
  
   
  <table >
    <thead >
    <tr >
        <th class="bg-dark">Hora Ingreso</th>
        <th class="bg-dark">Hora Salida</th>
        <th class="bg-dark">tiempo laborado</th>
    </tr>
  </thead>
@foreach(var registro in Model)
    {
      <tbody>
        <tr>
            <th class="bg-success">@registro.hora_ingreso</th>
            <th class="bg-danger">@registro.hora_salida</th>
            <th class="bg-primary">
            @{
              // Calcular la diferencia de tiempo entre hora de salida y hora de ingreso
              TimeSpan diferencia = registro.hora_salida - registro.hora_ingreso;
              // Mostrar la diferencia de tiempo en horas, minutos y segundos
              string diferenciaFormato = $"{diferencia.Hours} horas, {diferencia.Minutes} minutos, {diferencia.Seconds} segundos";
              }
            @diferenciaFormato
            </th>
        </tr>
      </tbody>
    }
  </table>
   
</div>

<a id="vuelve"  href="@Url.Action("Index", "Home")"> Volver </a>

   