<link rel="stylesheet" href="~/css/Index.css" />
@model Usuarios.Models.User




<meta http-equiv="refresh" content="5; url=/Home/Index">


<div class="login-box"  id="caja2">
  <h2>Bienvenido</h2>

    <div class="user-box">
      @if (TempData["usuario"] != null)
        {

        <h2 id="Title">@TempData["usuario"]</h2>
        }

    </div>
    <div class="user-box">
      @if (TempData["hora"] != null)
      {
        DateTime? hora = TempData["hora"] as DateTime?;
        if (hora.HasValue)
        {
          <h1 id="info">ENTRADA: Día: @hora?.ToString("dd") hora: @hora?.ToString("h:mm:ss tt")</h1>
        }
        else
        {
          <h1 id="info">ENTRADA: No se ha especificado la hora</h1>
        }
      } 
    </div>
    <div class="user-box">
      @if (TempData["salida"] != null)
      {
        DateTime? salida = TempData["salida"] as DateTime?;
        if (salida.HasValue)
        {
          <h1 id="info2">SALIDA: Día: @salida?.ToString("dd") hora: @salida?.ToString("h:mm:ss tt")</h1>
        }
        else
        {
          <h1 id="info2">SALIDA: No se ha especificado la hora de salida</h1>
        }
      }   
    </div>
    <button  type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>

</div>


