<link rel="stylesheet" href="~/css/Index.css" />



@model Registros.Models.User








@if (ViewData["Registro"] != null)
{
    var RegistroJson = ViewData["Registro"] as string;
    <p>Valor de la cookie 'Usuarios': @RegistroJson</p>
}





<div class="login-box " id="caja2">
    <h2>Login</h2>

    <div class="user-box"></div>
    @if (TempData["usuario"] != null)
    {
        <h1 id="Title">Bienvenido, @TempData["usuario"]</h1>
    }
</div>
<div class="user-box"></div>
@if (ViewData["Registros"] != null)
{
    var movimiento = ViewData["Registros"] as string;
    <p>Hora de ingreso: @movimiento</p>
}
</div>

<button id="visaje">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</button>

</div>